html{
    font-family: 'Open sans', sans-serif;
    color: #373a3c;
}

a{
    transition: .5s;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}

#sidebar h1 {
    color: #fff;
    font-size: 48px;
    text-align: center;
    margin: 20px auto 60px;
}

#sidebar a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

#sidebar a:hover{
    color: #f4ef5e;
}

#sidebar li {
    padding: 20px;
}

.sidebar-container{
    position: relative;
    margin: 0 auto;
}

.logo-doceria{
    display: block;
    position: relative;
    margin: 0 auto;
}